.header{
	height:3.39rem;
	.wrap{
		height:1.3rem;
		.left{
			float: left;
			width: 1.82rem;
			.img-bg{
				width:0.9rem;
				height:0.9rem;
				background:#ececec;
				border-radius: 100%;
				margin-left: 0.3rem;
				margin-top: 0.22rem;
				.img-1{
					width:0.52rem;
					height:0.4rem;
					margin-left: 0.15rem;
					margin-top: 0.25rem;
				}
				.img-2{
					width:0.4rem;
					height:0.42rem;
					margin-left: 0.25rem;
					margin-top: 0.24rem;
				}
			}
		}
		.right{
			float: left;
			width: 5.68rem;
			h1{	
				font-weight: normal;
				font-size:0.3rem;
				color:#000000;
				margin-top:0.2rem;
				margin-bottom: 0.08rem;
			}
			p{
				width:5.37rem;
				font-size:0.22rem;
				color:#737373;
				letter-spacing:0px;
				line-height:0.28rem;
				&.two-line{
					font-size: 0.24rem;
					margin-top: -0.08rem;
				}
			}
		}
	}
	.divider{
		clear: both;
		width:5.2rem;
		height:1px;
		background:#dbdbdb;
		margin-left:1.81rem;
	}
	.aside{
		line-height: 0.82rem;
		margin-left: 0.28rem;
		.pre{
			font-size:0.18rem;
			color:#fa4100;
			letter-spacing:0px;
		}
		.word{
			font-size:0.26rem;
			color:#333333;
			margin-left: 0.07rem;
		}
	}
}
