.footer {
	height: 1.28rem;
	background: #ffffff;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	button{
		display: block;
		width:6.9rem;
		height:0.9rem;
		margin: 0.2rem auto;
		background:#ffeb00;
		border-radius:0.06rem;
		font-size:0.32rem;
		color:#333333;
		letter-spacing:0px;
	}
}