@mixin placeholder($color) {
	&::-webkit-input-placeholder{
		color: $color;
	}
	&:-moz-placeholder { 
		color: $color;
	} 
	&::-moz-placeholder {
		color: $color;
	} 
	&:-ms-input-placeholder {
		color: $color;
	} 
}

.textarea-wrap {
	position:relative;
	height: 2.3rem;
	background: #ffffff;
	border-top: 1px solid #dbdbdb;
	textarea{
		box-sizing: border-box;
		width:100%;
		height:100%;
		padding: 0.17rem 0.44rem;
		font-size: 0.3rem;
		resize: none;
		@include placeholder(#999999);
	}
	span.limit{
		position:absolute;
		right:0.32rem;
		bottom:0.31rem;
		font-size:0.24rem;
		color:#999999;
	}
}