{
  "presets": ["es2015", "react", "stage-0"],
  "plugins": [
    "transform-runtime",
    "add-module-exports",
    ["react-scope-binding", {
      "propPrefix": ["on"],
      "advanced": true
    }],
    ["import", [{
      "libraryName": "invincible",
      "camel2DashComponentName": false
    }, {
      "libraryName": "antd",
      "style": "css",
    }]],
    "react-hot-loader/babel"
  ]
}
